<section class="container" data-ng-controller="ImgsController" data-ng-init="findOne()">
    <div class="page-header text-center">
        <h1>Edit Image</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">New URL</label>
                    <div class="controls">
                        <input type="text" data-ng-model="img.name" id="name" class="form-control" placeholder="Update" required>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-model="Update_Button" type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
