  <!--<script src="script.js"></script>-->
  <section class="container">
    <div class="contact_header">
      <h1>Contact Information By County</h1>
    </div>
    <div class="contact_table">          
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>County</th>
            <th>Zip Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
          <tr>
            <td>Alachua</td>
            <td>32601</td>
            <td>Joe Blow</td>
            <td>joeblows@ufl.edu</td>
            <td>352-111-1111</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>