
<div ui-view ng-controller="ManageContactsController" ng-init="find()">

  <div class="container-fluid" style="margin-top: 20px; margin-left:12%; margin-right:12%">
    <div class="col-md-3" style="margin-top: 2em; position:relative">
      <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search by County" ng-change="SearchByCounty()" />
    </div>
    <div class="contact_header" style="margin-right: 24%">
      <h1>Contact Information By County</h1>
    </div>

    <hr>
    <div  class="row" style="font-weight: bold; font-size: 125%; font-family: Bookman, Georgia, Times New Roman, serif;text-align:center ">
      <div class="col-md-2 col-md-offset-1">County</div>
      <div class="col-md-2">Zip Code</div>
      <div class="col-md-2">Name</div>
      <div class="col-md-2">Email</div>
      <div class="col-md-2">Phone Number</div>
    </div>
    <hr>
    <!--
    <br>
    <div class="row" style="text-align:center">
        <div data-ng-repeat="manageContact in manageContacts" ng-show="!manageContact.hidden">
        <div class="col-md-2 col-md-offset-1" data-ng-bind="manageContact.county"></div>
        <div class="col-md-2" data-ng-bind="manageContact.zip_code"></div>
        <div class="col-md-2" data-ng-bind="manageContact.name"></div>
        <div class="col-md-2" data-ng-bind="manageContact.email"></div>
        <div class="col-md-2" data-ng-bind="manageContact.phone_number"></div>

      <br><hr style="margin-top: 1px; margin-left:10%; margin-right:10%"><br>
        </div>
    </div>
    -->
      <div class="row" style="text-align:center; font-size: 110%;font-weight: bold">
        <br>
        <div data-ng-repeat="manageContact in manageContacts" ng-show="!manageContact.hidden">
          <div class="col-md-2 col-md-offset-1" data-ng-bind="manageContact.county"></div>
          <div class="col-md-2" data-ng-bind="manageContact.zip_code"></div>
          <div class="col-md-2" data-ng-bind="manageContact.name"></div>
          <div class="col-md-2" data-ng-bind="manageContact.email"></div>
          <div class="col-md-2" data-ng-bind="manageContact.phone_number"></div>

          <br><hr style="margin-top: 1px; margin-left:10%; margin-right:10%; border-bottom-color: #0000f6;"><br>
        </div>

      </div>

    <hr>



  </div>
  </div>
</section>

