<section class="container" data-ng-controller="ManageEventsController" data-ng-init="find();findFeedback();pushHideArray();">
    <div class="page-header">
        <h1 class="text-center">Manage events</h1>
    </div>

    <div class="col-md-3" style="margin: 5px, 0, 5; position:relative">
      <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search for Event"/>
    </div>
    <a href="/#!/admin/manage-events/create"><button style="margin-bottom: 20px;" type="button" class="btn btn-primary">Create an Event</button></a>
    <a href="/#!/admin/feedbacks"><button style="margin-bottom: 20px;" type="button" class="btn btn-primary">View all Feedback</button></a>
    <br>

    <ul class="event-list" data-ng-repeat="manageEvent in manageEvents | filter:search:strict" class="list-group-item">

        <li>                
        <img alt = "No Picture" ng-src="{{manageEvent.imageURL}}">
            <time >
                <span class="month" data-ng-bind="manageEvent.date | date:'mediumDate'"></span>
                <span class="month" data-ng-bind="manageEvent.date | date:'shortTime'"></span>
            </time> 

            <div class="info">
                <!-- Event Info --> 
                <h2 class="title"> <b>{{manageEvent.name}}</b> <sub>by <em>{{manageEvent.user.displayName}}</em></sub></h2>
               <!--  <h2 class="title" data-ng-bind="manageEvent.name"> </h2> -->
                <small class="list-group-item-text" >
                    <style>
                        p{margin-left:10px;}
                    </style>   
                    <br>                      
                    <p>
                        <span data-ng-bind="manageEvent.description"></span>
                    </p>
                </small>
                <ul>
                    <li style="width:40%;"> <a href="{{manageEvent.link}}"><span class="fa fa-globe"></span> Website</a></li>
                    <li style="width:40%;" data-ng-click="toggleHideArray(manageEvent);"> <span class="fa fa-envelope"></span> Attendees' Feedback: </li>
                    <li style="width:2%;"><a class="btn btn-primary" href="/#!/admin/manage-events/{{manageEvent._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i></a></li>
                    <li style="width:0.5%;"></li>
                    <li style="width:2%;"><a class="btn btn-danger" data-ng-click="remove(manageEvent);">
                    <i class="glyphicon glyphicon-trash"></i></a></li>
                    <li style="width:0.5%;"></li>
                    <!-- hide app -->
                    <li style="width:2%;"> <a class="btn btn-warning" data-ng-click="show(manageEvent);" ng-show="manageEvent.pending">
                        <i class="glyphicon glyphicon-floppy-saved"></i>
                    </a>   
                    <!-- show app -->
                    <a class="btn btn-success" data-ng-click="hide(manageEvent);" ng-show="!manageEvent.pending">
                        <i class="glyphicon glyphicon-check"></i>
                    </a>
                    </li> 
                </ul>                           
            </div>  
        </li>                      
    <div data-ng-repeat="feedback in feedbacks" ng-show="hideArray[manageEvents.indexOf(manageEvent)] && stringCompare(feedback.name,manageEvent.name)">
        <div class="well well-sm">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="feedback.created | date:'medium'"></span>
                by
                <span data-ng-bind="feedback.user.displayName"></span>
            </small>

            <div class="pull-right">
                <a class="btn btn-danger" data-ng-click="remove(feedback);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>

            <div class="container-fluid">
                <h4 style="padding-top:10px" class="list-group-item-heading" data-ng-bind="feedback.name"></h4>
                <h5 style="padding-top:10px" class="list-group-item-heading" data-ng-bind="feedback.text"></h5>
            </div>
        </div>
    </div>
    <br>
    </ul>
    <div class="alert alert-warning text-center" data-ng-hide="!manageEvents.$resolved || manageEvents.length">
    	No events yet, would you like to <a href="/#!/admin/manage-events/create">create one</a>?
    </div>
</section>