<section ui-view ng-controller="HomeController" ng-init="find()">
   <!-- Carousel
  ================================================== -->
  <div class="slides_control">
    <carousel interval="myInterval">
      <slide ng-repeat="img in imgs" active="img.active">
        <img class = "img-responsive cimage" ng-src="{{img.name}}">
      </slide>
    </carousel>
  </div><!-- /.carousel -->

  <div align="center">
    <a href="/admin/imgs"><button style="margin-top: 50px;" type="button" class="btn btn-warning" ng-show="authentication.user.roles[1] === 'admin'">Edit Images</button></a>
  </div>

  <!-- Featurettes -->
  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About</h2>
        <p class="lead">This extension program's purpose is to spread the knowledge acquired through UF's research into water. Also...</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block img-circle" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR5KsS2IrpxZZ1ucQ6azQhYFQ8wi8oCPZLcKCXbGh3UiQF5FRWk">
      </div>
    </div>

    <!--News articles -->
    <hr class="featurette-divider" ng-show="newsToShow();">
    <h2 class="featurette-heading text-center" style="margin: 0px" ng-show="newsToShow();">News Articles</h2>
    <div data-ng-repeat="newsFeed in newsFeeds"  class="list-group-item" ng-show="!newsFeed.hidden" style="background: rgba(0, 0, 0, 0.0)">   
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2">
            <img class="app-image-list center-block" ng-src="{{newsFeed.imageURL}}">
          </div>
          <div class="col-xs-10" style="white-space:pre-wrap;">
            <h2 class="list-group-item-heading" data-ng-bind="newsFeed.title"></h2>
            <small class="pull-left"> By {{newsFeed.author}} on {{newsFeed.date | date : mediumDate}} </small>
            <p>{{ getPreview(newsFeed) }}</p>
            <a ng-href="{{newsFeed.articleLink}}" class="pull-left" ><span class="fa fa-globe"></span> Website</a>
          </div>
        </div>
      </div>
    </div>

    <!--end of News articles class="pull-left"-->

    <!-- Manage Apps List -->
    <hr class="featurette-divider" ng-show="appsToShow();">
    <h2 class="featurette-heading text-center" style="margin: 0px" ng-show="appsToShow();">Recommended Applications</h2>  
    <div data-ng-repeat="manageApp in manageApps" class="list-group-item" ng-show="!manageApp.hidden" style="background: rgba(0, 0, 0, 0.0)">
      <div class="container-fluid">  
        <div class="row" >
          <div class="col-xs-2">
            <img class="app-image-list center-block" ng-src="{{manageApp.imageURL}}">
          </div>
          <div class="col-xs-10">
            <h4 style="padding-top:10px" class="list-group-item-heading" data-ng-bind="manageApp.name"></h4>
            <p data-ng-bind="manageApp.description">
            </p>
            <a ng-href="{{manageApp.appLink}}"><span class="fa fa-globe"></span> Website</a>
          </div>
        </div>
      </div>
    </div>
   

    <!-- Manage Apps End -->

      <hr class="featurette-divider">

         <!-- FOOTER -->
        <div class = "row footer">
          <div align="center">
            <p>&copy; Water Extenstion 2015 | Contact: Kati at klwhite@ufl.edu</p>
          </div>
        </div>
        <div class = "row footer">
          <div align="center">
            <p> University Of Florida | P.O. Box 110180 Gainesville, FL 32611-0180</p>
          </div>
        </div>
    </div>

  </div><!-- /.container -->    
</section>
