<section data-ng-controller="NewsFeedsController" data-ng-init="find()">
    <div class="page-header">
        <h1>News feeds</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="newsFeed in newsFeeds" data-ng-href="/#!/admin/news-feed/{{newsFeed._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="newsFeed.created | date:'medium'"></span>
				by
				<span data-ng-bind="newsFeed.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="newsFeed.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!newsFeeds.$resolved || newsFeeds.length">
    	No News feeds yet, why don't you <a href="/#!/admin/news-feed/create">create one</a>?
    </div>
</section>