<section data-ng-controller="NewsFeedsController" data-ng-init="find()">
<section class="container">
    <div class="page-header">
        <h1 class="text-center">News Feed</h1>
    </div>

    <a ng-model="New_Article_Button" href="/#!/admin/news-feed/create"><button style="margin-bottom: 20px;" type="button" class="btn btn-primary">New Article</button></a>

    <div>
        <div data-ng-repeat="newsFeed in newsFeeds">          
            <div class="well well-sm">    
                <!-- EDIT BUTTONS -->
                <div class="pull-right">
                     <!--expand -->
                    <a class="btn btn-primary" href="/#!/admin/news-feed/{{newsFeed._id}}">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                    <!-- push up -->
                    <a ng-model="Up_Button" class="btn btn-primary" data-ng-click="pushUp(newsFeed);">
                        <i class="glyphicon glyphicon-menu-up"></i>
                    </a>  
                    <!-- push down -->
                    <a ng-model="Down_Button" class="btn btn-primary" data-ng-click="pushDown(newsFeed);">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>   
                    <!-- hide app -->
                    <a ng-model="Hide_Button" class="btn btn-primary" data-ng-click="hide(newsFeed);" ng-show="!newsFeed.hidden">
                        <i class="glyphicon glyphicon-minus"></i>
                    </a>    
                    <!-- show app -->
                    <a ng-model="Show_Button" class="btn btn-primary" data-ng-click="show(newsFeed);" ng-show="newsFeed.hidden">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>   
                    <!-- edit app -->
                    <a ng-model="Edit_Button" class="btn btn-primary" href="/#!/admin/news-feed/{{newsFeed._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>    
                    <!-- delete app -->
                    <a ng-model="Delete_Button" class="btn btn-danger" data-ng-click="remove(newsFeed);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>    
                </div> 
			 <div class="container-fluid">               
                    <h4 class="list-group-item-heading" data-ng-bind="newsFeed.title" ng-show="newsFeed.hidden"     style="margin-top: 10px"></h4>
                    <div class="row" ng-show="!newsFeed.hidden">
                        <div class="col-xs-2">
                            <img class="app-image-list center-block" ng-src="{{newsFeed.imageURL}}">
                        </div>
                        <div class="col-xs-10" style="white-space:pre-wrap;">
                            <h2 class="list-group-item-heading" data-ng-bind="newsFeed.title"></h2>
                            <small class="pull-left"> By {{newsFeed.author}} on {{newsFeed.date | date :    mediumDate}} </small>
                            <p>{{ getPreview(newsFeed) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!newsFeeds.$resolved || newsFeeds.length">
    	No News feeds yet, why don't you <a href="/#!/admin/news-feed/create">create one</a>?
    </div>
</section>
</section>