<section data-ng-controller="PendingEventsController" data-ng-init="findOne()">
<section class="container">
	<div class="page-header">
		<h1 data-ng-bind="pendingEvent.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == pendingEvent.user._id">
		<a class="btn btn-primary" href="/#!/pending-events/{{pendingEvent._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="pendingEvent.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="pendingEvent.user.displayName"></span>
		</em>
	</small>
</section>
</section>