<section data-ng-controller="ManageAppsController" data-ng-init="find()">
<section class="container">
    <div class="page-header text-center">
        <h1>New App</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <!-- Enter the name of the app -->
                    <label class="control-label" for="name">Name of the App</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <!-- Enter the description of the app -->
                    <label class="control-label" for="description">Description of the App</label>
                    <div class="controls">
                        <textarea rows="4" maxlength="2500" type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description" required>
                        </textarea>
                    </div>
                    <!-- Upload picture or give link -->
                    <label class="control-label" for="imageURL">Link to an App's image</label>
                    <div class="controls">
                        <input type="text" data-ng-model="imageURL" id="imageURL" class="form-control" placeholder="Image URL" required>
                    </div>
                    <!-- link to the app -->
                    <label class="control-label" for="appLink">Link to the App <small>(Please include http:// or https:// in the link)</small></label>
                    <div class="controls">
                        <input type="text" data-ng-model="appLink" id="appLink" class="form-control" placeholder="Link to the App" required>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-model="Submit_Button" type="submit" value="Submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
</section>
