<section data-ng-controller="ManageAppsController" data-ng-init="find()">
<section class="container">
   
    <div class="page-header">
        <h1 class="text-center">Manage Apps</h1>
    </div>
    
    <a href="/#!/admin/manage-apps/create"><button style="margin-bottom: 20px;" type="button" class="btn btn-primary">New App</button></a>



    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">'Im a modal!'</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>



    
    <div>
        <div data-ng-repeat="manageApp in manageApps">
            <div class="well well-sm">    
                <small class="list-group-item-text" ng-show="!manageApp.hidden">
                    Added on
                    <span data-ng-bind="manageApp.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="manageApp.user.displayName"></span>
                </small>
                <!-- EDIT BUTTONS -->
                <div class="pull-right">                   
                    <!-- push up -->
                    <a class="btn btn-primary" data-ng-click="pushUp(manageApp);">
                        <i class="glyphicon glyphicon-menu-up"></i>
                    </a>   
                    <!-- push down -->
                    <a class="btn btn-primary" data-ng-click="pushDown(manageApp);">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>    
                    <!-- hide app -->
                    <a class="btn btn-primary" data-ng-click="hide(manageApp);" ng-show="   !manageApp.hidden">
                        <i class="glyphicon glyphicon-minus"></i>
                    </a>   
                    <!-- show app -->
                    <a class="btn btn-primary" data-ng-click="show(manageApp);" ng-show="   manageApp.hidden">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>    
                    <!-- edit app -->
                    <a class="btn btn-primary" ng-click="open('lg', manageApp)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>  
                    <!-- delete app -->
                    <a class="btn btn-danger" data-ng-click="remove(manageApp);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>   
                </div>      
                <div class="container-fluid">  
                    <h4 style="padding-top:10px" class="list-group-item-heading" data-ng-   bind="manageApp.name" ng-show="manageApp.hidden"></h4> 
                    <div class="row" ng-show="!manageApp.hidden">
                        <div class="col-xs-2">
                            <img class="app-image-list center-block" ng-src="{{manageApp.   imageURL}}">
                        </div>
                        <div class="col-xs-10">
                            <h4 style="padding-top:10px" class="list-group-item-heading"    data-ng-bind="manageApp.name"></h4>
                            <p data-ng-bind="manageApp.description">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!manageApps.$resolved || manageApps.length">
        No Apps yet, why don't you <a href="/#!/admin/manage-apps/create">add one</a>?
    </div> 
</section>
</section>