<section data-ng-controller="FeedbacksController" data-ng-init="find()">
<section class="container">
    <div class="page-header">
        <h1>Feedbacks</h1>
    </div>
    <div>
        <div data-ng-repeat="feedback in feedbacks">
            <div class="well well-sm">
                <small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="feedback.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="feedback.user.displayName"></span>
                    
    			</small>

                <div class="pull-right">
                    <a class="btn btn-danger" data-ng-click="remove(feedback);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>

                <div class="container-fluid">
                    <h4 style="padding-top:10px" class="list-group-item-heading" data-ng-bind="feedback.name"></h4>
                    <h5 style="padding-top:10px" class="list-group-item-heading" data-ng-bind="feedback.text"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!feedbacks.$resolved || feedbacks.length">
    	No Feedbacks yet
    </div>
</section>
</section>