/* navbar */

.navbar-nav > li > a {
  color: white;
}

.navbar {
  margin-bottom: 0;
}

.body {
  padding: 0;
  background-color: white;
}

.navbar-nav > li > a:focus {
  color: white;
  background-color: #0021a5;
}

.navbar-nav > li > a:hover {
  color: #0021a5;
  background-color: white;
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 0;
  border-bottom: 1px solid #f56f02;
}

.dropdown-menu > li > a  {
  color: black;
  background-color: white;
}

.nav .open > a {
  color: #0021a5;
  background-color: white;
}

.navbar .navbar-nav .open
.dropdown-menu > .active > a {
  color: white;
  background-color: #0021a5;
  background-image: linear-gradient(to bottom, #0021a5 0%, #0021a5 100%);
  background-image: linear-gradient(rgb(0, 33, 165) 0%, rgb(0, 33, 165) 100%);
  border-bottom: 1px solid #f56f02;
  border-top: 1px solid #f56f02;
}
.navbar .navbar-nav .open
.dropdown-menu > .active > a:hover {
  color: white;
  background-color: #0021a5;
  background-image: linear-gradient(to bottom, #0021a5 0%, #0021a5 100%);
  background-image: linear-gradient(rgb(0, 33, 165) 0%, rgb(0, 33, 165) 100%);
  border-bottom: 1px solid #f56f02;
  border-top: 1px solid #f56f02;
}

/*nav bar end */




.content {
  margin-top: 30px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/* App List CSS on front page */


.app-image-list {
  height: 100%;
  width: 100%;

  display:block;
  max-height: 100px;
  max-width: 100px;
}

/* App List end */

/* Article list */

.web-link {
  margin: 0;
}

/* Article list end */

/* Beginning of Home Page */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Carousel*/
.cimage{
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
}
.slides_control {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 500px;
  left:0;
  top:20px;
}
/*End Carousel*/

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px; /* Space out the Bootstrap <hr> more */
  color: orange;
}

/*footer*/
.footer-bottom {
  text-align: center;
  color: #E1E1E1 ;
  background-color: #0021a5 ;
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #f56f02;
  margin-top: 40px;
  margin-bottom: 35px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 50px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-image {
    height: 500px;
    width: 500px;
  }

  .featurette-link {
    height: 75px;
    width: auto;
  }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Divider properties */
hr {
    display: block;
    margin: 0.5em auto 0.5em auto;
    border-style: inset;
    border-width: 1px;
    border-color: orange;
}

  /* End of Home Page */

.contact_header {
  text-align: center;
  color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact_table {
/*  position: absolute;*/
  margin-left: 50px;
  margin-right: 50px;
  z-index: 20;
  border-bottom: 2px solid orange;
  border-top: 2px solid orange;
  margin-bottom: 20px;
}

.bottom_footer_contact {
  text-align: center;
  color: #E1E1E1;
  background-color: #1E1E1E;
  padding-top: 25px;
  padding-bottom: 25px;
}


/*------ - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.eventBox {
  height: 100px;
  width: 200px;
  border: 1px solid black;
  border-radius:20%;
  background: white;
}

.date {
  height: 50px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 5px;
}

.name {
  height: 50px;
  width: 100px;
  border: 2px solid red;
  border-radius: 5px;
}

.eventTime{
  height: 50px;
  width: 100px;
  border: 2px solid yellow;
  border-radius: 5px;
}

.page_events {
   padding-top: 15%;
 }

 /* ---- ISSA's css */


    body {
    padding: 60px 0;
  }


    .event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
  }
  .event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0 0 20px;
  }
  .event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  .event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
  }
  .event-list > li > time > span {
    display: none;
  }
  .event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
  }
  .event-list > li time > .month {
    margin-top:11px;
    display: block;
    font-size: 18pt;
    font-weight: 700;
    line-height: 1;
  }
  .event-list > li > img {
    width: 100%;
  }
  .event-list > li > .info {
    padding-top: 5px;
    text-align: center;
  }
  .event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0;
  }
  .event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0;
  }
  .event-list > li > .info > ul,
  .event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .event-list > li > .social > ul {
    margin: 0;
  }
  .event-list > li > .info > ul > li,
  .event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
        padding: 3px 0;
  }
    .event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
  }
    .event-list > li > .social > ul > li {
        padding: 0;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0;
  }
  .event-list > li > .info > ul > li:hover,
  .event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
  }

  @media (min-width: 768px) {
    .event-list > li {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;
      padding: 0;
    }
    .event-list > li > time,
    .event-list > li > img  {
      display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 120px;
      float: left;
    }
    .event-list > li > .info {
      background-color: rgb(245, 245, 245);
      overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 120px;
      height: 120px;
      padding: 0;
      margin: 0;
    }
    .event-list > li > .info {
      position: relative;
      height: 120px;
      text-align: left;
      padding-right: 40px;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
      padding: 0 10;
    }
    .event-list > li > .info > ul {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .event-list > li > .social {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 40px;
    }
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
    .event-list > li > .social > ul > li {
      display: block;
            padding: 0;
    }
    .event-list > li > .social > ul > li > a {
      display: block;
      width: 40px;
      padding: 10px 0 9px;
    }
  }
